@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cutive+Mono&family=Lexend+Zetta:wght@300&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: 0px 0px 0px 0px;
}
body {
    background-color: rgb(46,46,46);
}
.a {
    border: 10px solid rgb(23, 23, 23);
    border-radius: 5px;
  
    text-decoration: none;
    color: rgba(203, 203, 203, 0.959);
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    font-size: 15px;
    margin: 0px 40px 0px 0px;
    background-color: rgb(23, 23, 23);
    cursor: pointer;
    transition: 0.5s;
  }
  .a:hover {
    color: rgb(255, 0, 0);
  }
  .h1 {
    margin-block: 20px;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    text-align: center;
    font-size: 36px;
  }
  .h3 {
    margin-block: 20px;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    text-align: center;
  }
  .p {
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: rgb(174, 173, 173);
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    text-align: center;
    width: 60%;
    margin-left: -10px;
  width: 60%;
}
.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }